html
    head
        title C++ Fiddle
        // script(src="/assets/scripts/react.min.js")
        // script(src="/assets/scripts/react-dom.min.js")
        script(src="/assets/scripts/editor.js", async)
    body
        p Hello World!

        div#content
