html
    head
        title C++ Fiddle

        link(rel="stylesheet", href="/assets/styles/index.css")
        link(rel="stylesheet", href="/assets/styles/editor.css")

        script(src="/assets/scripts/editor.js", async)
    body
        h1 C++ Fiddle!

        div#content
